<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.studium.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/music"
        android:label="Mussic Guesser"
        android:roundIcon="@drawable/music"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Menu"
            android:label="Menu"
            android:parentActivityName=".Login">
        </activity>

        <activity
            android:name=".Ayuda"
            android:label="Ayuda"
            android:parentActivityName=".Login">
        </activity>

        <activity
            android:name=".Dificultad"
            android:label="Dificultad"
            android:parentActivityName=".Login">
        </activity>
        <activity
            android:name=".Facil"
            android:label="Facil"
            android:parentActivityName=".Login">
        </activity>
        <activity
            android:name=".Normal"
            android:label="Normal"
            android:parentActivityName=".Login">
        </activity>

        <activity
            android:name=".Dificil"
            android:label="Dificil"
            android:parentActivityName=".Login">
        </activity>

        <activity
            android:name=".ListaActivity"
            android:label="Listado de Jugadores"
            android:parentActivityName=".Login">
        </activity>

    </application>

</manifest>
